﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>LogIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="~/Content/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="~/Content/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
        <link href="~/Content/pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
        window.onload = function () {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="~/Content/pages/css/windows.chrome.fix.css" />'
        }
    </script>

    <script>

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
     </script>

</head>
<body class="fixed-header   ">
    <!-- START PAGE-CONTAINER -->
    <div class="login-wrapper ">
        <!-- START Login Background Pic Wrapper-->
        <div class="bg-pic">
            <!-- START Background Pic-->
            <img src="/Content/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="/Content/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="/Content/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
            <!-- END Background Pic-->
            <!-- START Background Caption-->
            <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                <h2 class="semi-bold text-white">Pages make it easy to enjoy what matters the most in the life</h2>
                <p class="small">
                    images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
         
                </p>
            </div>
            <!-- END Background Caption-->
        </div>
        <!-- END Login Background Pic Wrapper-->
        <!-- START Login Right Container-->
        <div class="login-container bg-white">
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                <img src="/Content/assets/img/logo.png" alt="logo" data-src="/Content/assets/img/logo.png" data-src-retina="/Content/assets/img/logo_2x.png" width="78" height="22">

                <p class="p-t-15"><strong>SIGN IN USING</strong> </p>
                <form method="post" action="/Home/ExternalLogin?ReturnUrl=" id="form-Google" class="p-t-15" role="form" style="width: 110%;" novalidate="novalidate">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-primary btn-cons m-t-10" style="background: #D94835; border-color: #D94835;" name="btnGoogle" type="submit">Google+</button>
                </form>
                @*@using (Html.BeginForm("GoogleLogIn", "Home", FormMethod.Post,
                    new { id = "form-redirect", @class = "p-t-15", role = "form", style = "width: 110%;", novalidate = "novalidate" }))
                {                        
                    @Html.AntiForgeryToken()
                    <button class="btn btn-primary btn-cons m-t-10" style="background: #D94835; border-color: #D94835;" name="btnGoogle" type="submit">Google+</button>
                }*@

                 <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button>
                <button class="btn btn-primary btn-cons m-t-10" style="background: #29447E; border-color: #29447E;" name="btnFacebook" type="submit">Facebook</button>

                <button class="btn btn-primary btn-cons m-t-10" style="background: #1981BA; border-color: #1981BA;" name="btnLinkedIn" type="submit">Linked In</button>


                <p class="p-t-15" style="font-size: medium;"><strong>OR</strong></p>

                <p class="p-t-5"><strong>SIGN INTO YOUR RENT MONKEYS ACCOUNT</strong></p>
                <!-- START Login Form -->
                @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { id = "form-login", @class = "p-t-15", role = "form" }))
                {
                    <!-- START Form Control-->
                    <div class="form-group form-group-default" style="margin-bottom: 0px;">
                        <label>Email</label>
                        <div class="controls">
                            <input type="text" name="txtUserName" id="txtUserName" placeholder="User Name" class="form-control" validation="required email">
                        </div>
                    </div>
                    <label id="txtUserName-error" class="error" style="display: none" for="txtUserName"></label>
                    <!-- END Form Control-->
                    <!-- START Form Control-->
                    <div class="form-group form-group-default" style="margin-bottom: 0px; margin-top: 10px;" id="dvPassword">
                        <label>Password</label>
                        <div class="controls">
                            <input type="password" id="txtPassword" class="form-control" name="txtPassword" placeholder="Credentials" validation="required">
                        </div>
                    </div>
                    <label id="txtPassword-error" class="error" for="txtPassword"></label>
                    <div class="form-group form-group-default" style="margin-bottom: 0px; margin-top: 10px; display: none;" id="dvFirstName">
                        <label>First Name</label>
                        <div class="controls">
                            <input type="text" name="txtFirstName" id="txtFirstName" placeholder="User Name" class="form-control" validation="required">
                        </div>
                    </div>
                    <label id="txtFirstName-error" class="error" for="txtFirstName"></label>
                    <!-- START Form Control-->
                    <div class="row" id="dvKeepSignedIn">
                        <div class="col-md-6 no-padding">
                            <div class="checkbox ">
                                <input type="checkbox" value="1" id="chkKeepSignedIn">
                                <label for="checkbox1">Keep Me Signed in</label>
                            </div>
                        </div>
                        @*<div class="col-md-6 text-right">
                            <a href="#" class="text-info small">Help? Contact Support</a>
                        </div>*@
                    </div>
                    <div class="form-group form-group-default" style="margin-bottom: 0px; margin-top: 10px; display: none;" id="dvLastName">
                        <label>Last Name</label>
                        <div class="controls">
                            <input type="text" name="txtLastName" id="txtLastName" placeholder="Last Name" class="form-control" validation="required">
                        </div>
                    </div>
                    <label id="txtLastName-error" class="error" for="txtLastName"></label>
                    <!-- END Form Control-->
                    <button class="btn btn-primary btn-cons m-t-10" name="btnSignIn" id="btnSignIn" type="submit">Sign in</button>
                }

                @*<form id="form-login" class="p-t-15" role="form" action="index.html"></form>*@

                <!--END Login Form-->
                @*<div class="pull-bottom sm-pull-bottom">
                    <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                        <div class="col-sm-3 col-md-2 no-padding">
                            <img alt="" class="m-t-5" data-src="/Content/assets/img/demo/pages_icon.png" data-src-retina="/Content/assets/img/demo/pages_icon_2x.png" height="60" src="/Content/assets/img/demo/pages_icon.png" width="60">
                        </div>
                        <div class="col-sm-9 no-padding m-t-10">
                            <p>
                                <small>Create a pages account. If you have a facebook account, log into it for this process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a></small>
                            </p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <!-- END Login Right Container-->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/classie/classie.js"></script>
    <script src="~/Content/assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="~/Content/pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
    <script src="~/Scripts/CommonFun.js"></script>
    <!-- END PAGE LEVEL JS -->
    <script>
        //$(function () {
        //    $('#form-login').validate()
        //});

        $("#btnSignIn").click(function () {
            $("#form-login").validateform();
        });

        $(document).ready(function () {

            $("#dvPassword").show();
            $("#txtPassword").attr("validation", "required");
            $("#txtPassword-error").hide();
            $("#dvFirstName").hide();
            $("#txtFirstName").removeAttr("validation");
            $("#txtFirstName-error").hide();
            $("#dvKeepSignedIn").show();
            $("#dvLastName").hide();
            $("#txtLastName").removeAttr("validation");
            $("#txtLastName-error").hide();
            $("#btnSignIn").text("Sign In");
            $("#btnSignIn").attr("Name", "btnSignIn");
        });

        $("#txtUserName").change(function () {
            var ParamData = { Email: this.value };

            $.ajax({
                url: "/Home/CheckEmailExist",
                type: "GET",
                data: { Email: this.value },
                dataType: "json",
                contentType: "Application/json; charset=utf-8",
                async: false,
                success: function (result) {
                    if (result) {
                        $("#dvPassword").show();
                        $("#txtPassword").attr("validation", "required");
                        $("#txtPassword-error").hide();
                        $("#dvFirstName").hide();
                        $("#txtFirstName").removeAttr("validation");
                        $("#txtFirstName-error").hide();
                        $("#dvKeepSignedIn").show();
                        $("#dvLastName").hide();
                        $("#txtLastName").removeAttr("validation");
                        $("#txtLastName-error").hide();
                        $("#btnSignIn").text("Sign In");
                        $("#btnSignIn").attr("Name", "btnSignIn");
                    }
                    else {
                        $("#dvPassword").hide();
                        $("#txtPassword").removeAttr("validation");
                        $("#txtPassword-error").hide();
                        $("#dvFirstName").show();
                        $("#txtFirstName").attr("validation", "required");
                        $("#dvKeepSignedIn").hide();
                        $("#dvLastName").show();
                        $("#txtLastName").attr("validation", "required");
                        $("#btnSignIn").text("Sign Up");
                        $("#btnSignIn").attr("Name", "btnSignUp");
                    }
                }
            });



        });
    </script> 

    @*Script for FaceBook Single Sign On*@
    <script>

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        // Init the SDK upon load
        window.fbAsyncInit = function () {
            FB.init({
                appId: '672813386065907', // App ID
                channelUrl: '//' + window.location.hostname + '/channel', // Path to your Channel File
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            // listen for and handle auth.statusChange events
            FB.Event.subscribe('auth.statusChange', function (response) {
                if (response.authResponse) {
                    // user has auth'd your app and is logged into Facebook
                    FB.api('/me', function (me) {
                        if (me.name) {
                            alert.call("FaceBook Account Logged In for" + me.name);
                            @*document.getElementById('auth-displayname').innerHTML = me.name;
                        var LogInURL = '@Url.Action("LogIn","Home")';
                        window.location.href = LogInURL;*@
                    }
                    })
                    alert.call("FaceBook Account NOT Logged In for" + me.name);
                //document.getElementById('auth-loggedout').style.display = 'none';
                //document.getElementById('auth-loggedin').style.display = 'block';
            } else {
                    // user has not auth'd your app, or is not logged into Facebook
                    alert.call("FaceBook Account NOT Logged In for" + me.name);
                //document.getElementById('auth-loggedout').style.display = 'block';
                //document.getElementById('auth-loggedin').style.display = 'none';
            }
        });
        $("#auth-logoutlink").click(function () { FB.logout(function () { window.location.reload(); }); });
    }
</script>

</body>
</html>
